.propaganda_1
{
	background: url('/images/propaganda_01.png');
	height: 405px;
}

.propaganda_2
{
	background: url('/images/propaganda_02.png');
	height: 405px;
}

.propaganda_3
{
	background: url('/images/propaganda_03.png');
	height: 405px;
}

.propaganda_4
{
	background: url('/images/propaganda_04.png');
	height: 405px;
}

body
{
	font-family: 'Droid Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 300;
	word-spacing: 0.15em;
	width: 1024px;
	margin: 0 auto;
	color: #000000;
	background-color: #FFFFFF;
}

.content
{
	text-align: justify;
	padding: 0px 18px 0px 18px;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
}

.header, 
.footer
{
	margin: 0;
	padding: 10px;
}

.header
{
	padding-bottom: 0;
}

.footer
{
	padding-top: 0;
}

.header .text, 
.footer .text
{
	width: 984px;
	margin: 0 auto;
}

.header .text
{
	padding-bottom: 5px;
	font-weight: bold;
}

.footer .text
{
	padding-top: 5px;
}

.header ul
{
	list-style-type: none;	
	margin: 0;
}

.header ul li
{
	float: left;
	margin-left: 10px;
}

.content h1, h2, h3, h4, h5, h6
{
/*	font-family: 'Arial Black', sans-serif;*/
	text-transform: uppercase;
/*	font-weight: 400;*/
}

.content h1
{
	border-bottom: 0;
	margin-bottom: 0;
	padding-top: 8px;
	color: #B80000;
}

.content h2	
{ 
	border-top: 0;
	border-bottom: 2px solid #333333;
}

.content hr
{ 
	border: 1px solid #333333; 
}

.content pre, .content code
{
	font-family: 'Droid Sans Mono', monospace;
/*	background-color: #fdf6e3; */
	background-color: #F1F1F1;
	background: -webkit-gradient(radial, 100 36, 0, 100 -40, 120, from(#FAFAFA), to(#F1F1F1)), #F1F1F1;
	border: 1px solid #E5E5E5;
	line-height: 22px;
}

.content pre code
{
	-webkit-box-shadow: none;
	border: 0;
	padding: 0;	
}

.content code
{
	font-family: 'Droid Sans';
	padding: 0;
}

.content img
{
	border: 4px solid #E5E5E5;
}

.content .posts ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.content .posts ul li
{
	padding: 5px 0;
	border-bottom: 1px solid #E5E5E5; 
}

.content .posts ul li span
{
	float: right;
}

.content table * tr 
{
	border-top: 1px solid #E5E5E5;
}

.content table * tr:nth-child(2n)
{
	background-color: #F1F1F1;
}

.content table * tr th,
.content table * tr td 
{
	border: 1px solid #E5E5E5;
}

.content blockquote 
{
	color: #666666;
}

.content .info
{
	background-color: #F1F1F1;
	border: 1px solid #E5E5E5;
}

.gravatar
{
	height: 20px;
	float: left;
	margin-right: 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	border: 2px solid #E5E5E5;
}

.profile
{
	height: auto;
	border: 5px solid #E5E5E5;
}

.plus
{
	float: left;
	margin-top: 10px;
}

::selection, ::-moz-selection
{
	background: #A22222;
	color: #FFFFFF;
	text-shadow: none;
}
