body
{
	margin: 0;
	padding: 0 10px 10px 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-align: justify;
	text-justify: inter-word;
	font-family: sans-serif;
	font-size: 1.2rem;
	line-height: 2rem;
	background-color: #0d0807;
	color: #b9a89f;
	max-width: 1024px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6
{
	padding: 0;
	margin-bottom: 5px;
	margin-top: 5px;
}

p
{
	margin-top: 12px;
	margin-bottom: 12px;
}

blockquote
{
	margin: 0;
	padding-left: 10px;
	border-left: 5px solid #b9a89f;
}

code
{
	padding: 2.5px 6.5px;
	font-weight: bolder;
	background-color: #b9a89f;
	color: #0d0807;
}

pre
{
	font-family: monospace;
	overflow: auto;
	display: block;
	background-color: #1f1a20 !important;
	tab-size: 4;
	padding: 10px;
}

pre code
{
	font-family: monospace;
	font-weight: normal;
	tab-size: 4;
	padding: 0;
	color: #b9a89f;
	background-color: #1f1a20 !important;
}

a, a:active, a:visited, a:hover
{
	color: #b6a063;
	text-decoration: none;
	font-weight: bolder;
}

a:hover
{
	text-decoration: underline;
}

img, iframe
{
	max-width: 1024px;
}

hr
{
	border: 3px solid #b9a89f;
	max-width: 320px;
}

table
{
	border-collapse: collapse;
	width: 100%;
	border-bottom: 5px solid #b9a89f;
}

table * tr th
{
	background-color: #1f1a20;
	font-weight: bolder;
	text-align: left;
}

table * tr th, table * tr td
{
	padding: 10px;
}

table * tr:nth-child(even)
{
	background-color: #1f1a20;
}

.nav
{
	font-weight: bolder;
	text-align: right;
}

.comments
{
	font-weight: bolder;
}

.post-list table
{
	width: auto;
}

.post-list table td
{
	white-space: nowrap;
	font-weight: bolder;
}

.post-list table td:last-child
{
	width: 100%;
}
