<html>
	<head>
		{% block head %}
		<title>
		{% block title %}
		{% if page.title and site.title %}
			{{ page.title }} - {{ site.title }}
		{% elif page.title %}
			{{ page.title }}
		{% elif site.title %}
			{{ site.title }}
		{% else %}
			"Untitled Document"
		{% endif %}
		{% endblock title %}
		</title>
		{% block css %}
		<!-- Content Type -->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<!-- Atom Feed -->
		<link href="http://feeds.feedburner.com/mihailco" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
		<!-- Default -->
		<link rel="stylesheet" type="text/css" href="/css/default.css" />
		<!-- Pygments Syntax  -->
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
		<!-- Blog  -->
		<link rel="stylesheet" type="text/css" href="/css/blog.css" />
		{% endblock css %}
		{% if page.mathjax %}
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config(
			{
				tex2jax:
				{
					inlineMath: [['$', '$']],
					skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code', 'object']
				}
			});
		</script>
		<!-- MathJax -->
		<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		{% endif %}
		{% endblock head %}
	</head>
	<body>
		{% block body %}
		{% block header %}
		<div class="header">
			<div class="text">
				<div class="align left"></div>
				<ul class="align right">
					<li><a href="/">home</a></li>
					<li><a href="/games">games</a></li>
					<li><a href="//github.com/icebreaker" target="_blank">projects</a></li>
					<li><a href="//github.com/icebreaker/dotfiles" target="_blank">dotfiles</a></li>
					<li><a href="/about">about</a></li>
					<li><a href="http://feeds.feedburner.com/mihailco" target="_blank">rss</a></li>
				</ul>
				<div class="clear"></div>
			</div>
		</div>
		{% endblock header %}
		{% if page.propaganda %}
		<div class="propaganda_{{ page.propaganda }}"></div>
		{% else %}
		<div class="propaganda_4"></div>
		{% endif %}
		<div class="content">
			{% block content %}
			{{ content }}
			{% endblock content %}
		</div>
		{% block footer %}
		<div class="footer">
			<div class="text">
				<div class="clear"></div>
			</div>
		</div>
		{% endblock footer %}
		{% endblock body %}
	</body>
</html>
