{% if include.album %}
	{% assign width = 700 %}
	{% assign url = "https://bandcamp.com/EmbeddedPlayer/size=large/bgcol=000000/linkcol=E90909/transparent=true/" %}
	{% assign src = url | append: "album=" | append: include.album | append: "/" %}
	{% if include.track %}
		{% assign width = 120 %}
		{% assign src = src | append: "tracklist=false/artwork=small/" %}
		{% assign src = src | append: "track=" | append: include.track | append: "/" %}
	{% endif %}
{% endif %}

{% if src and width %}
<iframe style="border: 0; width: 700px; height: {{ width }}px;" src="{{ src }}" seamless>
{% if include.href and include.title %}
<a href="{{ include.href }}">{{ include.title }}</a>
{% endif %}
</iframe>
{% endif %}
