<div class="comments">
	<hr />
	<p>
		<span>{{ page.date | date: "%Y-%m-%d" }}</span>
		{% if page.tags %}
			{% for tag in page.tags %}
				{% for topic in site.topics %}
					{% if topic.topic %}
						{% assign topic_tag = topic.topic | downcase %}
					{% else %}
						{% assign topic_tag = topic.title | slugify %}
					{% endif %}
					{% if topic_tag == tag %}
						&nbsp;/&nbsp;
						<span><a href="{{ topic.url }}">{{ tag }}</a></span>
						{% break %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		{% endif %}
		{% if page.issue %}
		&nbsp;/&nbsp;
		<span><a href="{{ site.github.issue }}/{{ page.issue }}" target="_blank">Comments</a></span>
		{% endif %}
		{% if page.tweet %}
		&nbsp;/&nbsp;
		<span><a href="{{ site.twitter.status }}/{{ page.tweet }}" target="_blank">Comments</a></span>
		{% endif %}
	</p>
</div>
