<div class="nav">
	<a href="/">home</a>
	<span>&nbsp;/&nbsp;</span>
	<a href="/topics">topics</a>
	<span class="games">
		<span>&nbsp;/&nbsp;</span>
		<a href="/games">games</a>
	</span>
	<span class="projects">
		<span>&nbsp;/&nbsp;</span>
		<a href="{{ site.github.url }}" target="_blank">projects</a>
	</span>
	<span class="dotfiles">
		<span>&nbsp;/&nbsp;</span>
		<a href="{{ site.github.dotfiles.url }}" target="_blank">dotfiles</a>
	</span>
	<span>&nbsp;/&nbsp;</span>
	<a href="/about">about</a>
	<span class="rss">
		<span>&nbsp;/&nbsp;</span>
		<a href="{{ site.rss.url }}" target="_blank">rss</a>
	</span>
</div>
