{% if include.tag %}
	{% assign posts = site.tags[include.tag] %}
{% else %}
	{% assign posts = site.posts %}
{% endif %}

{% if include.year and posts and posts.size > 0 %}
	{% assign filtered_posts = "" | split: "" %}
	{% for post in posts %}
		{% assign post_year = post.date | date: "%Y" %}
		{% if post_year == include.year %}
			{% assign filtered_posts = filtered_posts | push: post %}
		{% endif %}
	{% endfor %}
	{% assign posts = filtered_posts %}
{% endif %}

{% if include.month and posts and posts.size > 0 %}
	{% assign filtered_posts = "" | split: "" %}
	{% for post in posts %}
		{% assign post_month = post.date | date: "%-m" %}
		{% if post_month == include.month %}
			{% assign filtered_posts = filtered_posts | push: post %}
		{% endif %}
	{% endfor %}
	{% assign posts = filtered_posts %}
{% endif %}

{% if include.retrospective and posts and posts.size > 0 %}
	{% if include.retrospective == "true" %}
		{% assign filtered_posts = "" | split: "" %}
		{% for post in posts %}
			{% if post.tags contains 'retrospective' %}
				{% assign filtered_posts = filtered_posts | push: post %}
			{% endif %}
		{% endfor %}
		{% assign posts = filtered_posts %}
	{% else %}
		{% assign filtered_posts = "" | split: "" %}
		{% for post in posts %}
			{% unless post.tags contains 'retrospective' %}
				{% assign filtered_posts = filtered_posts | push: post %}
			{% endunless %}
		{% endfor %}
		{% assign posts = filtered_posts %}
	{% endif %}
{% endif %}

{% if include.reverse == "true" and posts and posts.size > 0 %}
	{% assign posts = posts | reverse %}
{% endif %}

{% assign class = "posts" %}
{% if include.class %}
	{% assign class = class | append: " " | append: include.class %}
{% endif %}

{% if posts and posts.size > 0 %}
<div class="{{ class }}">
	<table>
		{% for post in posts %}
		<tr>
			<td>
				{{ post.date | date: "%Y-%m-%d" }}
			</td>
			<td>/</td>
			<td>
				<a href="{{ post.url }}">{{ post.title }}</a>
				{% if post.draft %}
				<span>[draft]</span>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endif %}
