<!DOCTYPE html>
<html>
	<head>
		{% include meta.html %}
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="alternate" type="application/atom+xml" href="{{ site.rss.url }}" title="{{ site.title }}" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css?v=1" />
		<link rel="stylesheet" type="text/css" href="/css/style.css?v=5" />
	</head>
	<body>
		{% include background.html %}
		{% include nav.html %}
		{% include propaganda.html %}
		<div class="content">
			{{ content }}
		</div>
		{% include music.html %}
		{% include imagediffviewer.html %}
	</body>
</html>
