---
layout: default
---
<div class="post-list topics">
	<table>
		{% for topic in site.topics %}
			{% if topic.topic %}
			{% assign topic_slug = topic.topic %}
			{% else %}
			{% assign topic_slug = topic.title | slugify %}
			{% endif %}
			{% assign posts = site.posts | where: "topic", topic_slug %}
			{% if posts.size > 0 %}
				{% assign date = posts.first.date %}
				<tr>
					<td>
						{{ date | date: "%Y-%m-%d" }}
					</td>
					<td>/</td>
					<td>
						<a href="{{ topic.url }}">{{ topic.title }}</a>
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
</div>
